$dark-grey: #868797;
$light-grey: #B6B7C6;
$green: #57A773;
$red: #EE6352;


body{font-family: 'Work Sans', sans-serif;}
.match-history{width: 100vw; height: 100vh; background: url(../images/background.png) center no-repeat; background-size: cover; padding-top: 100px;}
.overlay{background: linear-gradient(120deg, #00000D -0.28%, #1C1F33 100%); opacity: 0.9; position: absolute; top: 0; left: 0; z-index: 1; width: 200%; height: 100%;}
.main{position: relative; z-index: 2; width: 100%;}
.last-match{width: 100%; background: #000; float: left; padding: 20px 15px; position: relative; height: 175px;}
.title{width: 100%; float: left;
  img{margin-right: 10px; float: left;}
  h4{color: $dark-grey; font-size: 14px; font-weight: bold; font-weight: bold; float: left; line-height: 20px;}
}
.match-result{text-align: center; float: left; height: 100%; writing-mode: vertical-lr; transform: rotate(180deg); color: #fff; font-size: 14px; font-weight: bold; padding: 0 5px; text-align: center;
  &.victory{background: $green;}
  &.defeat{background: $red;}
}
.analysis-content{float: left; width: calc(100% - 31px); padding-left: 20px;}
.analysis-title{width: 100%;  float: left; width: 100%;
  img{margin-right: 5px; float: left;}
  h4{float: left; font-weight: bold; font-size: 14px; color: $light-grey; line-height: 15px;}
}
.match-information{width: 50%; float: left; padding-top: 20px;
  .spells-items-champion{width: 80px; float: left;}
  .spells-champion{float: left; margin-bottom: 20px;}
  .champion{float: left; width: 40px;}
  .spells{width: 40px; float: left;
    img{float: left;}
  }
  .items{width: 60px; position: relative; float: left;
    img{float: left;
      &:last-child{position: absolute; right: -20px; top: 50%; margin-top: -10px;}
    }
  }
  .analysis-information{float: left; margin-left: 30px;
    p{color: $dark-grey; margin-bottom: 2px; line-height: 14px;
     span{margin: 0 0; line-height: 14px;}
    }
    .duration{font-size: 14px;
      span{font-weight: bold; color: $light-grey;}
    }
    .ago{font-size: 12px; margin-bottom: 10px;}
    .total{font-size: 14px;
      span{font-weight: bold;}
      span:nth-child(1){color: $green;}
      span:nth-child(2){color: $red;}
      span:nth-child(3){color: $light-grey;}
    }
    .kda{font-size: 12px;}
    .cs{color: #fff; font-size: 14px; font-weight: bold;}
    .kp{font-size: 12px;}
  }
  .team-compare{float: left; margin-left: 20px;
    .compare-item{text-align: center; margin-top: -5px;
      *{display: inline-block;}
      p{font-size: 10px; color: $dark-grey; line-height: 20px; width: 90px; text-overflow: ellipsis; white-space: nowrap; overflow-x: hidden; padding: 0 10px;
        &:first-child{float: left; text-align: right;}
        &:last-child{float: right; text-align: left;}
      }
      img{margin:  0 1px;
        &.pp{border: 1px solid transparent; width: 20px; border-radius: 50%;}
        &.friend{border-color:$green}
        &.enemy{border-color: $red;}
        &.lane{margin: 0 5px;}
      }
    }
  }
}
.actions{width: 150px; text-align: center; padding: 10px; background: #002C9F; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); cursor: pointer; position: absolute; right: 20px; top: 50%; margin-top: -22px; z-index: 8;
  p{display: inline-block; color: #fff; font-weight: bold; font-size: 12px; text-transform: uppercase;}
  img{transition: all 0.4s ease-in-out;}
  .actions-menu{ position: absolute; top: 100%; left: 0%; width: 100%; padding: 0;
    li{display: none; font-size: 14px; color: #fff; padding: 10px; background: #002C9F;
      &:hover{background: #404245;}
    }
  }
  &:hover{background: #404245;
    img{transform: rotate(-180deg);}
    li{display: block; opacity: 0;}
    @for $i from 1 through 3{
      li:nth-child(#{$i}){
        animation: menu 150ms * $i ease-in-out forwards;
      }
    }
    @keyframes menu {
      0%{
        opacity: 0;
        transform: rotateY(-90deg) translateY(5px);
      }
      100%{
        opacity: 1;
        transform: rotateY(0deg) translateY(0px);
      }
    }
  }
}
.sort-menu{width: 100%; float: left; margin: 20px 0;
  .filter-menu{float: right; padding: 5px 20px; color: #fff; cursor: pointer; transition: all 0.4s ease-in-out;  position: relative; z-index: 7;
    p{float: left;}
    &:hover{background: #000;
      li{display: block; opacity: 0; animation: menu2 400ms ease-in-out forwards;}
      @keyframes menu2 {
        0%{
          opacity: 0;
          transform: rotateY(-50deg) translateY(10px);
        }
        100%{
          opacity: 1;
          transform: rotateY(0deg) translateY(0px);
        }
      }
    }
  }
  ul{ position: absolute; top: 100%; right: 0%; width: 300px; padding: 0;
    li{display: none; font-size: 14px; color: $light-grey; padding: 10px; background: #000;
      &:hover{background: #404245;}
    }
  }
}
.matches{width: 100%; float: left; height: 560px; overflow-y: scroll; position: relative; z-index: 6;
  .match-items{width: 100%; float: left; height: 80px; position: relative; transition: all 0.4s ease-in-out; cursor: pointer;
    &.victory{background: rgba(136, 217, 162, 0.1);}
    &.defeat{background: rgba(238, 99, 82, 0.1);}
    &.remake{background: rgba(182, 183, 198, 0.1);}
    &:hover{background: #000; box-shadow: 0px 0px 30px #000000; z-index: 9;}
  }
  .match-item-information{height: 80px; float: left; display: flex; align-items: center; justify-content: center;}
  .time-information{float: left; margin-left: 20px;
    p:first-child, p:last-child{font-size: 12px; color: $dark-grey; margin: 0 0;}
    p:nth-child(2){font-weight: bold; color: #fff; font-size: 14px; margin: 5px 0;}
  }
  .champion-spells{float: left; margin-left: 50px;
    .champion{float: left; position: relative;
      img{float: left; border-radius: 50%;}
      .level-badge{width: 14px; height: 14px; line-height: 14px; text-align: center; font-size: 10px; font-weight: bold; color: #fff; position: absolute; left: 50%; bottom: -7px; margin-left: -7px; border-radius: 50%; background: #000;}
    }
    .spells{width: 40px; float: left; margin-left: 10px;
      img{float: left;}
    }
    .score,.cs{float: left; margin-left: 50px;
      p:first-child{color: #fff; font-weight: bold; font-size: 14px;}
      p:last-child{font-size: 12px; color: $light-grey;}
    }
    .items{width: 60px; float: left; margin-left: 50px;
      img{float: left;}
    }
    .teams{float: left; margin-left: 50px; width: 100px;
      div{float: left; width: 100%;
        img{float: left; width: 18px; border-radius: 50%; border: 1px solid transparent;}
        &.team-1{padding-left: 9px;
          img{border-color: $red;}
        }
        &.team-2{
          img{border-color: #2F80ED;}
        }
      }
    }
  }
}
